{% extends 'base.html' %}
{% block body %}
    {% load static %}

<!-- 
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center ">Pay Head creation</h1>
                <form>
    
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control">
                    <label class="form-label">alias</label>
                    <input type="text" class="form-control">
                </form>
            </div>  
        </div>
        <h3 class="mt-5">Pay head Information</h3>
        <div class="row">
            <div class="col">
                <label class="form-label">Pay Head Type</label>
                <select class="form-control w-100">
                    <option>Earning for Employees</option>
                    <option>Deductions From Employees</option>
                    <option>Employees statutory Deductions</option>
                    <option>Employees statutory Contributions</option>
                    <option>Gratuity</option>
                    <option>Loans and Advances</option>
                    <option>Reimbursements to Employees</option>
                    <option>Lo</option>

                </select>
                <label class="form-label">Date of birth</label>
                <input type="date" class="form-control w-100" >

            </div>
        </div>
    </div>        
             -->


             
<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center><h5>Pay Head Creation</h5></center>

            </div>

        </div>

    </div>
    <div class="page-content" style="width: 50%;margin-left: 30%;">
        <div class="card radius-15">
            <div class="card-body">
                <div class="col-md-12">
                    <label for="" style="margin-top: 20px;">Name</label>
                    <input class="custom-select-md form-control " style="width: 40%;"  type="text">
                </div>
                <div class="col-md-12">
                    <label for="" style="margin-top:20px ;">(alias)</label>
                    <input class="custom-select-md form-control " style="width: 40%;" type="text"><br><br>
                </div>

                <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                        
                        <h5 class="text-center" style="margin-left: 30% ;margin-top: 20px ;"><u> Pay Heads Information </u></h5>

                        
                                <div class="row container-fluid  p-2 ">
                                    <div class="col-sm-6 m-0 p-0"> <label  style="margin-left: 30px;">Pay heads type</div>
                                    <div class="col-sm-6 m-0 p-0" style="margin-left: 30px;">
                                        <select name="Activate" id="" class="form-control">
                                            <option value="Not Applicable">Not Applicable</option>
                                    <option value="Deductions From Employees">Deductions From Employees</option>
                                    <option value="Earnings for Employees">Earnings for Employees</option>
                                    <option value="Employees Statutory Deductions">Employees Statutory Deductions</option>
                                    <option value="Employees Statutory Contibutions">Employees Statutory Contibutions</option>
                                    <option value="Gratuity">Gratuity</option>
                                    <option value="Loans and Advances">Loans and Advances</option>
                                    <option value="Reimbursements to Employees">Reimbursements to Employees</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row container-fluid  p-2">
                                    <div class="col-sm-6 m-0 p-0" > <label for="loc" style="margin-left: 30px;">Income type</label></div>
                                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="loc" placeholder=""></div>
                                </div>

                                <div class="row container-fluid  p-2">
                                    <div class="col-sm-6 m-0 p-0" > <label for="loc" style="margin-left: 30px;">Under</label></div>
                                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="loc" placeholder=""></div>
                                </div>
                                
                                <div class="row container-fluid  p-2">
                                    <div class="col-sm-6 m-0 p-0" > <label for="loc" style="margin-left: 30px;">Affect net salary</label></div>
                                    <div class="col-sm-6 m-0 p-0"><select name="Activate" id="" class="form-control">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                    </select>

                                    </div>
                                </div>
                                <div class="row container-fluid  p-2">
                                    <div class="col-sm-6 m-0 p-0" > <label for="loc" style="margin-left: 30px;">Name to be displayed in payslip</label></div>
                                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="loc" placeholder=""></div>
                                </div>
                                <div class="row container-fluid  p-2">
                                    <div class="col-sm-6 m-0 p-0" > <label for="loc" style="margin-left: 30px;">Currency of ledger</label></div>
                                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="loc" placeholder=""></div>
                                </div>
                                <div class="row container-fluid  p-2">
                                    <div class="col-sm-6 m-0 p-0" > <label for="loc" style="margin-left: 30px;">Calculation type</label></div>
                                    <div class="col-sm-6 m-0 p-0"><select name="Activate" id="" class="form-control">
                                    <option value="Not Applicable">Not Applicable</option>
                                    <option value="On Attendance">On Attendance</option>
                                    </select>

                                    

                                    </div>

                                    <button type="submit" class="btn btn-info w-100 mt-3" style="margin-left:8% ;">Submit</button>


                                
                                

                        
                </div>
                    
            </div>

                </div>

            </div>

        </div>

    </div>

</div>



{% endblock %}    
