{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    </style>

  <div class="m-0">
    <h6 style="" class="bg-info text-light p-2 m-0 text-center">Pay Head Creation</h6>
            <form  style="background-color:rgba(0,0,0,.4);" method="post" action="save_ledger">
                {% csrf_token %}
                
                <div class="row container-fluid p-0 m-0" >

                    <div class="col-sm-6 m-0 p-4">

                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a" >Name</label></div>
                            <div class="col-sm-8 m-0 p-0"><input required type="text" class="form-control" id="ledger_name" oninput="addname()" placeholder="" name="ledger_name"></div>
                        </div>

                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="b">Alias</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="b" placeholder="" name="ledger_alias"></div>
                        </div>


                    </div>

                    <div class="col-sm-3 m-0 p-0"></div>
                    <div class="col-sm-3 m-0 p-0" style="background-color:rgba(0,0,0,.2);"><h6 class="text-center p-3">Total Opening Balance</h6></div>

                
                
            </div>

                
                    
                   
                <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                    <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                        

                        <div class="row container-fluid  p-0 m-0">
                            <h5 class="text-center  ">Pay head Information</h5>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-6 m-0 p-0"> <label for="pan">Pay Head Type Type</label></div>
                                <div class="col-sm-6 m-0 p-0">
                                    <select name="alter_chk_bks" id="chqrng" class="form-control">
                                        <option value="Earning for Employees">Earning for Employees</option>
                                        <option value="Employees Statutory Deductions">Employees Statutory Deductions</option>  
                                        <option value="Employer's Statutory Contributions">Employer's Statutory Contributions</option>
                                        <option value="Gratuity">Gratuity</option>
                                        <option value="Loans and Advances">Loans and Advances</option>
                                        <option value="Reimbursements to Employees">Reimbursements to Employees</option>
                                        <option value="Not Applicable">Not Applicable</option>
                                        
                                    </select>
                                </div>
                                
                            </div>
                    
                        </div>
                   
                  
                            


    <div class="bankac hide p-0 m-0 w-100" id="bankac">
        
        <!-- <h6 class="p-3">Bank Account Details</h6> -->

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Income Type</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="alter_chk_bks" id="chqrng" class="form-control">
                    <option value="Fixed">Fixed</option>
                    <option value="Variable">Variable</option>  
                    
                </select>


            </div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Under</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="alter_chk_bks" id="chqrng" class="form-control">
                    <option value="Direct Expenses">Direct Expenses</option>
                    <option value="Expenses (Direct)">Expenses (Direct)</option>  
                    <option value="Expenses (Indirect)">Expenses (Indirect)</option>  
                    <option value="Misc.Expenses (ASSET)">Misc.Expenses (ASSET)</option>  
                    
                </select>
            </div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Affect Net Salary</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="alter_chk_bks"  class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>  
                    
                    
                </select>
            </div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Name to be displayed in payslip</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="swift" placeholder="" name="swift_code"></div>
            
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Use calculation of gratuity</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="bank_name" id="" class="form-control">
                    <option value="NO">No</option> 
                    <option value="Yes">Yes</option> 
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Calculation Type</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="bank_name" id="" class="form-control">
                    <option value="NO">No</option> 
                    <option value="Yes">Yes</option> 
                    
                </select>
            </div>
            
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >As Calculation type</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="alter_chk_bks" id="chqrng" class="form-control">
                    <option value="As Computer Value">As Computer Value</option>
                    <option value="As User Defined Value">As User Defined Value</option>  
                    <option value="Flat Rate">Flat Rate</option>
                    <option value="On Attendence">On Attendence</option>
                    <option value="On Production">On Production</option>
        
                </select>
            </div>
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Calculation Period</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="enbl_chk_printing" id="chqprnt" class="form-control">
                    <option value="Days">Days</option>
                    <option value="Fortnights">Fortnights</option>  
                    <option value="Months">Months</option>
                    <option value="weeks">weeks</option>
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Attendance/leave with pay</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="enbl_chk_printing" id="chqprnt" class="form-control">
                    <option value="">Not Applicable</option>
                    <option value=""></option>  
                    
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Production Type</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="swift" placeholder="" name="swift_code"></div>
            
        </div>



    </div>


                    </div>
                    <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">

                        <h5 class=" col-sm-12-m-0 p-0 text-center mb-2">Computation Information</h5>
                        
        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0 mt-2"> <label for="rgtype" >Compute</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="enbl_chk_printing" id="chqprnt" class="form-control">
                    <option value="On current Deduction Total">On current Deduction Total</option>
                    <option value="On current Earning Total">On current Earning Total</option>  
                    <option value="On current Sub Total">On current Sub Total</option> 
                    <option value="On Specified Formula">On Specified Formula</option> 
                    
                </select>
            </div>
        </div>
                        
                        <!-- <div class="col-sm-6 m-0 p-0"> -->
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">Effective from</th>
                                    <th scope="col">Amount Greater Than</th>
                                    <th scope="col">Amount Up To</th>
                                    <th scope="col">Slab Type</th>
                                    <th scope="col">Value</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">
                                        <select name="enbl_chk_printing" id="chqprnt" class="w-100 form-control">
                                            <option value="No">1-Apr-22</option>
                                            <option value="Yes">2-Apr-22</option>  
                                            
                                        </select>
                                    </th>
                                    <td></td>
                                    <td><input class="w-100 text-white form-control" type="text" style="background-color:rgba(0, 0, 0, 0.2);"></td>
                                    <td>
                                        <select name="enbl_chk_printing"  class="w-100 form-control">
                                            <option value=""></option>
                                            <option value="Percentage">Percentage</option>
                                            <option value="value">Value</option>  
                                            
                                        </select>
                                    </td>
                                    <td><input  class="w-100 form-control" type="text" style="background-color:rgba(0, 0, 0, 0.2);"></td>
                                  </tr>
                                  <tr>
                                    <!-- <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td> -->
                                  </tr>
                                 
                                </tbody>
                              </table>
                        </div>
                    </div>

                    <div class="row container-fluid p-0 m-0" >

                        <div class="col-sm-6 m-0 p-4"  style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                            <h5 class="text-center mb-3">Round Method</h5>
    
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-4 m-0 p-0"> <label  >Round Method</label></div>
                                <div class="col-sm-8 m-0 p-0"> <select name="enbl_chk_printing" id="chqprnt" class="form-control">
                                    <option value="">Not Applicable</option>
                                    <option value="">Downward Rounding</option>  
                                    <option value="">Normal Rounding</option> 
                                    <option value="">Upward Rounding</option> 
                                    
                                </select></div>
                            </div>





                    <!-- <div class="row container-fluid p-0 m-0">
                        <div class="col-sm-6-p-2 m-2">
                            <h5 class="text-center">Rounding of Information</h5>
                            <div class="col-sm-3-m-0 p-0"><label>Round method</label></div>
                            <div class="col-sm-3-m-0 p-0">
                                <select name="enbl_chk_printing" id="chqprnt" class="form-control">
                                    <option value="">On current Deduction Total</option>
                                    <option value="">On current Earning Total</option>  
                                    <option value="">On current Sub Total</option> 
                                    <option value="">On Specified Formula</option> 
                                    
                                </select>

                            </div>

                        </div>
                    </div> -->

<!-- 
<style>
    .hide{
        display: none;
        align-items:center;
        justify-content:center;
        flex-direction: column;
    }
</style> -->




{% endblock %}    
