{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    </style>

  <div class="m-0">
    <h6 style="" class="bg-info text-light p-2 m-0 text-center">Pay Head Creation</h6>
            <form  style="background-color:rgba(0,0,0,.4);" method="post" action="save_ledger">
                {% csrf_token %}
                
                <div class="row container-fluid p-0 m-0" >

                    <div class="col-sm-6 m-0 p-4">

                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a" >Name</label></div>
                            <div class="col-sm-8 m-0 p-0"><input required type="text" class="form-control" id="ledger_name" oninput="addname()" placeholder="" name="ledger_name"></div>
                        </div>

                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="b">Alias</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="b" placeholder="" name="ledger_alias"></div>
                        </div>


                    </div>

                    <div class="col-sm-3 m-0 p-0"></div>
                    <div class="col-sm-3 m-0 p-0" style="background-color:rgba(0,0,0,.2);"><h6 class="text-center p-3">Total Opening Balance</h6></div>

                
                
            </div>

                
                    
                   
                <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                    <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                        

                        <div class="row container-fluid  p-0 m-0">
                            <h5 class="text-center  ">Pay head Information</h5>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-6 m-0 p-0"> <label for="pan">Pay Head Type Type</label></div>
                                <div class="col-sm-6 m-0 p-0">
                                    <select name="alter_chk_bks" id="chqrng" class="form-control">
                                        <option value="Earning for Employees">Earning for Employees</option>
                                        <option value="Employees Statutory Deductions">Employees Statutory Deductions</option>  
                                        <option value="Employer's Statutory Contributions">Employer's Statutory Contributions</option>
                                        <option value="Gratuity">Gratuity</option>
                                        <option value="Loans and Advances">Loans and Advances</option>
                                        <option value="Reimbursements to Employees">Reimbursements to Employees</option>
                                        <option value="Not Applicable">Not Applicable</option>
                                        
                                    </select>
                                </div>
                                
                            </div>
                    
                        </div>   
                            


    <div class="bankac hide p-0 m-0 w-100" id="bankac">
        
        <!-- <h6 class="p-3">Bank Account Details</h6> -->

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Income Type</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="acna" placeholder="" name="holder_name"></div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Under</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="acno" placeholder="" name="ac_number"></div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Affect Net Salary</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="alter_chk_bks" id="chqrng" class="form-control">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>  
                    
                </select>
            </div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Name to be displayed in payslip</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="swift" placeholder="" name="swift_code"></div>
            
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Use calculation of gratuity</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="bank_name" id="" class="form-control">
                    <option value="NO">No</option> 
                    <option value="Yes">Yes</option> 
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Calculation Type</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="bank_name" id="" class="form-control">
                    <option value="NO">No</option> 
                    <option value="Yes">Yes</option> 
                    
                </select>
            </div>
            
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >As Calculation type</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="alter_chk_bks" id="chqrng" class="form-control">
                    <option value="As Computer Value">As Computer Value</option>
                    <option value="As User Defined Value">As User Defined Value</option>  
                    <option value="Flat Rate">Flat Rate</option>
                    <option value="On Attendence">On Attendence</option>
                    <option value="On Production">On Production</option>
        
                </select>
            </div>
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Calculation Period</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="enbl_chk_printing" id="chqprnt" class="form-control">
                    <option value="Days">Days</option>
                    <option value="Fortnights">Fortnights</option>  
                    <option value="Months">Months</option>
                    <option value="weeks">weeks</option>
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Set/Alter Cheque Printing Configuration</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="" id="chqconfg" class="form-control">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>  
                    
                </select>
            </div>
        </div>


    </div>


<div class="bankod hide p-0 py-sm-3 m-0 w-100"id="bankod">

    <div class="row container-fluid  p-2 m-0" >
        <div class="col-sm-6 m-0 p-0"> <label for="pan">Set OD limit</label></div>
        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="odlimit" placeholder="" name="odlimit"></div>
        
    </div>

 <h6>Bank Account Details</h6>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">A/c Holders Name</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="acna" placeholder="" name="holder_name"></div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">A/c Number</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="acno" placeholder="" name="ac_number"></div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">IFS Code</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="ifs" placeholder="" name="ifsc"></div>
            
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">SWIfT Code</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="swift" placeholder="" name="swift_code"></div>
            
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Bank Name</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="bank_name" id="" class="form-control">
                    <option value="not applicable">Not applicable</option> 
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="pan">Branch</label></div>
            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="branch" placeholder="" name="branch_name"></div>
            
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Set/Alter Range of cheque Books</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="alter_chk_bks" id="chqrng" class="form-control">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>  
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Enable Cheque printing</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="enbl_chk_printing" id="chqprnt" class="form-control">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>  
                    
                </select>
            </div>
        </div>

        <div class="row container-fluid   p-2 m-0">
            <div class="col-sm-6 m-0 p-0"> <label for="rgtype" >Set/Alter Cheque Printing Configuration</label></div>
            <div class="col-sm-6 m-0 p-0">
                <select name="chqconfg" id="chqconfg" class="form-control">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>  
                    
                </select>
            </div>
        </div>

</div>


<!-- 
<style>
    .hide{
        display: none;
        align-items:center;
        justify-content:center;
        flex-direction: column;
    }
</style> -->




{% endblock %}    
