
{% extends 'base.html' %}
{% block body %}
    {% load static %}


  


        <div class="nav bg-info ">
            <h1 class="" style="margin-left: 40%;">stock group creation</h1>
        </div>
        <div class="container " style="border-radius: 20px; width:100%  ">
           <form action="usercreate" method="post" class="form pt-5 pb-5" style="width: 50%; margin-left:40%">
               {% csrf_token %}
        
        
            <label class="text-white form-label">Name</label>
            <input type="text" class="form-control w-50">
            <label class="form-label text-white">alias</label>
            <input type="text" class="form-control w-50" >
            <label class="text-white form-label">under</label>
            <select class="form-control w-50">
                <option>primary</option>
            </select>
            <label class="form-label text-white">should qutities of items be added</label>
            <select class="form-control w-50">
                <option>No</option>
                <option>yes</option>
        
            </select>
            
            <button type="submit" class="btn btn-info mt-3" style="margin-left: 15%;">Submit</button>
           </form>
        </div>
        

{% endblock %}    


