{% extends 'base.html' %}
{% block body %}

  {% load static %}

  <h1 class="text-center">stock item creation</h1>

  <div class="container"  >
    <div class="row"style=" margin-left: 32%;"  >
        <div class="col"  >
            <label  class="form-label">Name </label>
            <input name="name" type="text" class="w-50 form-control"><br>
            <label class="form-label">(alias)</label>
            <input name="alias" type="text" class="w-50 form-control">
      
        <!-- <div class="col ml-auto">
            <h5>statutory Details</h5>
            <label class="form-label">Rate of Duty(eg 5)</label>
            <input type="number" class="w-50 form-control"><br>
           

        </div> -->

   

   
            <label class="form-label">under</label>
            <select name="under" class="form-control w-50">
                <option name="under" value="primary">Primary</option>
            </select>

            <label class="form-label">Category</label>
            <select name="cat" class="form-control w-50">
                <option name="cate" value="Not Applicable">Not Applicable</option>
            </select>


            <label class="form-label">Units</label>
            <select name="units" class="form-control w-50">
                <option name="units" value="Not Applicable">Not Applicable</option>
                <option name="units" value="BTL">BTL</option>
                <option name="units" value="btls">btls</option>
                <option name="units" value="bundle">bundle</option>
                <option name="units" value="MI">MI</option>
                <option name="units" value="Nos">Nos</option>
                <option name="units" value="dw">dw</option>
            </select>

            <h5 class="mt-3">statutory Details</h5>
            <label class="form-label">Rate of Duty(eg 5)</label>
            <input type="number" class="w-50 form-control"><br>


           <a class="btn btn-info mt-2 w-50" style="margin-left: 0%;">submit</a>
    
        </div>
    
      </div>
    

  </div>
 



 



{% endblock %}  
 