
{% extends 'base.html' %}
{% block body %}
    {% load static %}

       
<div >

    <h3 class="text-white ">stock Category</h3>
    <label class="text-white form-label">Name</label>
    <input type="text" class="form-control w-25">
    <label class="form-label text-white">alias</label>
    <input type="text" class="form-control w-25" >
    <label class="text-white form-label">under</label>
    <select class="form-control w-25">
        <option>primary</option>
    </select>
    
    <button type="submit" class="form-control w-25 btn-info mt-3">submit</button>

</div>



{% endblock %}    


