{% extends 'base.html' %}
{% block body %}
     {% load static %}

     <style>
        .flexy{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    .form1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        
    }
    form{
        padding:30px;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
        
    }
    button{
        background-color:rgb(103, 175, 220) ;
        color:white;
        padding:10px 20px;
    }

    .hide{
        display: none;
    }
</style>

   <div class="row container-fluid  p-0 my-5">
    <div class="col-sm-3  m-0 p-0"></div>
    <div class="col-sm-6 m-0 p-0" style=" background-color:rgba(0,0,0,0.2);">
        <a href="javascript:history.go(-1);" class="close">+</a>
    <h6 style="" class="bg-info text-light p-2">Unit Creation</h6>
    
            <form action="" method="post">
                {% csrf_token %}
              
            <div class="">
                <div class="row container-fluid  p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"> <label for="a">Type</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <select name="type" onchange="show()" id="type" required="" class="form-control">
                            <option value="null">select</option>
                            <option value="simple">simple</option> 
                            <option value="compound">compound</option>
                        </select>
                    </div>
                    
                </div>
                <div id="sym" class="row container-fluid hide  p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"> <label for="b">Symbol</label></div>
                    <div class="col-sm-6 m-0 p-0"> 
                    <input type="text" name="Symbol" class="form-control"  placeholder=""></div>
                    
                </div>

                <div id="for" class="row container-fluid hide   p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"> <label for="c">Formal Name</label></div>
                    <div class="col-sm-6 m-0 p-0"> 
                    <input type="text" name="formal" class="form-control"  placeholder=""></div>
                    
                </div>

               

                <div id="num" class="row container-fluid  hide  p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"> <label for="dcml">Number of decimal places</label></div>
                    <div class="col-sm-6 m-0 p-0"> 
                    <input type="text" name="decimal" class="form-control" id="dcml" placeholder="" value="0"></div>
                    
                </div>


                <div id="ft" class="row container-fluid hide   p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"> <label for="dcml">First unit</label></div>
                    <div class="col-sm-6 m-0 p-0"> 
                    <input type="text" class="form-control"  placeholder="" ></div>
                    
                </div>

                <div id="con" class="row container-fluid hide   p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"> <label for="dcml">conversion</label></div>
                    <div class="col-sm-6 m-0 p-0"> 
                    <input type="text" class="form-control"  placeholder="" ></div>
                    
                </div>


                <div id="sd" class="row container-fluid hide   p-2 m-0">
                    <div class="col-sm-6 m-0 p-0"> <label for="dcml">Second unit</label></div>
                    <div class="col-sm-6 m-0 p-0"> 
                    <input type="text" class="form-control"  placeholder="" ></div>
                    
                </div>

            </div>

            <div class="flexy w-100 py-4"><button class="btn btn-info w-25 " onclick="checker()">Create</button></div> 

            </form>
          

     
    </div>
    </div>
    <div class="col-sm-3  m-0 p-0"></div>

   </div> 
 


     <script>
        function checker(){
            var result =confirm('Are you sure?');
            if (result==false){
                event.preventDefault();
            }
        }

        function show(){
            var status =document.getElementById('type');
            var c=status.value;
            console.log(c);
            if (c=='simple'){
                console.log(c);
                document.getElementById('sym').style.display="flex";
                document.getElementById('for').style.display="flex";
                document.getElementById('num').style.display="flex";
                document.getElementById('ft').style.display="none";
                document.getElementById('con').style.display="none";
                document.getElementById('sd').style.display="none";
            }

            else if(c=='compound'){
                console.log(c);
                document.getElementById('sym').style.display="none";
                document.getElementById('for').style.display="none";
                document.getElementById('num').style.display="none";
                document.getElementById('ft').style.display="flex";
                document.getElementById('con').style.display="flex";
                document.getElementById('sd').style.display="flex";
            }
            else {
                console.log(c);
                document.getElementById('sym').style.display="none";
                document.getElementById('for').style.display="none";
                document.getElementById('num').style.display="none";
                document.getElementById('ft').style.display="none";
                document.getElementById('con').style.display="none";
                document.getElementById('sd').style.display="none";
            }
        }

     </script>

{% endblock %}     