{% extends 'base.html' %}
{% block body %}
     {% load static %}


     <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .hide{
            display:none;
        }
        .flexy{
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
    


     
     <div class="container" >
        <h2 class="text-center">Unit creation</h2>
        <div class="row" >
            <div  class="col" style="margin-left:33% ;" >
                <form action="" method="post">
                    {% csrf_token %}

                    <label class="form-label">Type</label>
                    <select name="under" onchange="show()" id="pvc" class="form-control w-50">
                        <option value="simple">Simple</option>
                        <option value="compound">Compound</option>
                    </select>

                    <div id="sps" class="flexy w-50">
                        <div class="w-100"><label class="form-label">Symbol</label></div>
                        <input name="name" type="text" class="form-control ">

                       <div  class="w-100"><label class="form-label">Formal name</label></div>
                        <input name="alias" type="text" class="form-control ">
                       <div  class="w-100"><label class="form-label">Number of Decimal</label></div>
                        <input name="alias" type="text" value="0" class="form-control ">
                    </div>
 
                    <div id="fps" class="hide flexy w-50">

                    
                        <div  class="w-100"><label class="form-label">first unit</label></div>
                        <input name="name" type="text" class="form-control ">
                    
                        
                       <div  class="w-100"> <label class="form-label">conversion</label></div>
                        <input name="alias" type="text" class="form-control ">
                
                       
                       <div  class="w-100"><label class="form-label">second unit</label></div>
                        <input name="alias" type="text" value="0" class="form-control ">
                    </div>
                    
                   
                    <button type="submit" onclick="change()" class="form-control btn btn-info mt-3 w-50" >submit</button>

                </form>

            </div>

        </div>

     </div>

     <script>
        function change(){
            var result =confirm('Are you sure');
            if (result==false){
                event.preventDefault();
            }
        }


     </script>

     <script>

        function show(){
            var status=document.getElementById('pvc');
            var c=status.value
            console.log(c)

            if (c == 'compound'){
                console.log(c);

                document.getElementById('fps').style.display="flex";
                document.getElementById('sps').style.display="none"
            }
            else {
                document.getElementById('sps').style.display="flex";
                document.getElementById('fps').style.display="none"
            }
        }


     </script>


{% endblock %}
