{% extends 'base.html' %}


{% block body %}



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 m-0 p-0 b1 " style="border: 1px solid;" >
            <a href="javascript:history.go(-1);" class="close">infox</a>

            <div class="head"><h5 class="pl-3 par">particulars</h5></div>
            
        </div>

        <div class="col-sm-6 m-0 p-0 b1 " style="border: 1px solid;" >
            <div class="head"><h5 class="pl-3 par">particulars</h6></div>
        </div>
        

    </div>
</div>


{% endblock %}
